body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #576b86, #0c20cf);
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .list-group {
    margin-top: 20px;
  }
  
  .list-group-item {
    border: none;
    border-radius: 0;
  }
  
  .btn {
    margin-bottom: 10px;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  